.row {
    margin: 4rem 0;
}

#btnFile, #btnView {
    max-width: 21rem;
    cursor: pointer;
    color: #343a40;
    margin: 5px auto;
    font-weight: 500 !important;
}

#btnFile:hover, #btnView:hover {
    background-color: #007bff;
    color: white !important;
}

.col-md-6 {
    padding: 0 !important;
}

.col-md-4 {
    padding: 0 !important;
}

.table, th, td {
    padding-left: 0px !important;
    font-size: 1.5rem;
}