.row {
    margin: 4rem 0;
}

.card-body {
    background-color: rgba(68, 68, 68, 0.15);
    width: 21rem;
    height: 23.5rem;
    margin: 20px auto;
    border: none;
    cursor: pointer;
}

    .card-body:hover {
        background-color: rgba(68, 68, 68, 0.08);

    }

.card-title {
    margin-top: 6.5rem;
    color: black;
}

