.row {
    margin: 4rem 0;
}

#btnFile, #btnView {
    width: 21rem;
    cursor: pointer;
    color: #343a40;
}

#btnFile:hover, #btnView:hover {
    background-color: #007bff;
    color: white !important;
}
    

/*.card-title {
    margin-top: 6.5rem;
    color: black;
}
*/

.col-md-6 {
    padding: 0 !important;
}